html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}


/* Header navi */


nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
}

ul li {
    display: inline;
    padding: 0 1rem;
}

nav img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

header {
  background-image: url("./images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  margin: 0;
  display: flex;
  padding-top: 1rem;
}

nav.container {
  height: 3.5rem;
  width: 100%;
}

.main-banner {
    background-color: white;
    padding: 0.75rem 5rem;
    display: block;
    margin-top: 10rem;
    margin-right: -2rem;
    line-height: 2.4rem;
}

header .flex {
  justify-content: flex-end;
}

/* Header image */
/*


header .flex {
  justify-content: flex-end;
}
*/
